:root {
    --DMsans: 'DM Sans', sans-serif;
    /* 300, 400, 600 */
    --DMserif: 'DM Serif Display', serif;
    /* 400 */
}

body {
    font-family: var(--DMsans);
}

.navbar {
    background-color: #e4e9ef;
}

h1 {
    font-family: var(--DMserif);
}

h2 {
    font-family: var(--DMsans);
    font-weight: 400;
}

.dark-container {
    transition: all 200ms ease-in;
}

.dark-container:hover {
    color: white;
    background: #212529;
}

.quadrant img {
    transition: all 200ms ease-in;
}

.overlay {
    opacity: 0;
    transition: all 200ms ease-in;
}

.quadrant:hover .overlay {
    opacity: 1;
}

.quadrant:hover img {
    opacity: 0.2;
}

.articles-container {
    max-width: 800px;
}

#carouselTestimonials {
    max-width: 800px;
}

.carousel-inner {
    max-height: 500px;
}