:root {
    --DMsans: 'DM Sans', sans-serif;
    /* 300, 400, 600 */
    --DMserif: 'DM Serif Display', serif;
    /* 400 */
}

body {
    font-family: var(--DMsans);
}

.navbar {
    background-color: #e4e9ef;
}

h1 {
    font-family: var(--DMserif);
}

h2 {
    font-family: var(--DMsans);
    font-weight: 400;
}

.dark-container {
    transition: all 200ms ease-in;
}

.dark-container:hover {
    color: white;
    background: #212529;
}

.quadrant img {
    transition: all 200ms ease-in;
}

.overlay {
    opacity: 0;
    transition: all 200ms ease-in;
}

.quadrant:hover .overlay {
    opacity: 1;
}

.quadrant:hover img {
    opacity: 0.2;
}

.articles-container {
    max-width: 800px;
}

#carouselTestimonials {
    max-width: 800px;
}

/* .carousel-item img {
    height: 500px;
} */

.testimonialImg {
    max-height: 150px;
    max-width: 150px;
    margin: 10px 10px 20px 10px;
    border: 3px solid rgb(255, 254, 254);
    transition: transform 200ms ease;
}

.testimonialImg:hover {
    transform: scale(1.1);
}

.testimonialInfo {
    font-size: 1.1rem;
    font-family: var(--DMserif);
}

.fst-italic {
    letter-spacing: 0.5px;
}

.testimonialBG {
    background-color: rgb(39, 39, 85);
}

/* .carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert();
} */