:root {
    --DMsans: 'DM Sans', sans-serif;
    /* 300, 400, 600 */
    --DMserif: 'DM Serif Display', serif;
    /* 400 */
}

body {
    font-family: var(--DMsans);
}

.navbar {
    background-color: #e4e9ef;
}

h1 {
    font-family: var(--DMserif);
}

h2 {
    font-family: var(--DMsans);
    font-weight: 400;
}

.dark-container {
    transition: all 200ms ease-in;
}

.dark-container:hover {
    color: white;
    background: #212529;
}